@import "../../index.scss";
.Details {
    padding-bottom: 30em;
    .firstImg {
        height: 80vh;
        width: 100%;
    }
    .row {
        .col {
            img {
                width: 30em;
            }
        }
        .col {
            .row {
                h1 {
                    letter-spacing: 0.2em;
                    font-family: $primary-font;
                    font-size: 5em;
                    color: $yellow;
                    text-transform: uppercase;
                    text-shadow: 2px 2px $blue;
                    font-weight: bold;
                    span {
                        font-size: 0.5em;
                    }
                }
            }
            .row {
                p {
                    font-size: 2em;
                    font-family: $third-font;
                    text-align: left;
                    color: $blue;
                }
                .col {
                    font-family: $secondary-font;
                    h2 {
                        font-weight: bold;
                        color: $blue;
                    }
                }
            }
            .row {
                .col {
                    h1 {
                        margin: 0 auto;
                        font-size: 1.5em;
                        color: $white;
                        background: $yellow;
                        width: 3em;
                        height: 3em;
                        border-radius: 50%;
                        line-height: 3em;
                    }
                }
                .col {
                    h3 {
                        font-family: $primary-font;
                        margin: 0 auto;
                        font-size: 1.5em;
                        color: $white;
                        background: $yellow;
                        width: 3em;
                        height: 3em;
                        border-radius: 50%;
                        line-height: 3em;
                        text-shadow: 2px 2px $blue;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .row {
        font-family: $secondary-font;
        color: $blue;
        .col {
            p {
                font-size: 2em;
            }
        }
        .col {}
    }
    .row {
        font-family: $secondary-font;
        .castTitle {
            color: $yellow;
            font-weight: bold;
            display: block;
            width: 100%;
            text-align: left;
            // text-shadow: 1px 1px $blue;
        }
        .card {
            border: 1px solid $yellow;
            // width: 15em;
            &-img-top {
                // // display: inline-block;
                // width: 10em;
                // height: 10em;
                // border-radius: 10em;
                filter: grayscale(100%);
            }
            &-body {
                background: $white;
                padding: 0;
                .card-title {
                    margin-top: 0.5em;
                    font-family: $secondary-font;
                    font-size: 2em;
                    color: $red;
                    text-shadow: 1px 1px $blue;
                }
                .card-text {
                    font-family: $third-font;
                    font-size: 1.5em;
                    color: $blue;
                    margin-bottom: 0.5em;
                }
            }
            transition: all 0.3s linear;
            // border: 1px solid $yellow;
            // border-radius: 1em;
            &:hover {
                box-shadow: 0 0.2px 0.9px rgba(0, 0, 0, 0.055), 0 0.6px 2.2px rgba(0, 0, 0, 0.112), 0 1.1px 4.1px rgba(0, 0, 0, 0.173), 0 2px 7.4px rgba(0, 0, 0, 0.245), 0 3.8px 13.8px rgba(0, 0, 0, 0.35), 0 9px 33px rgba(0, 0, 0, 0.54);
            }
        }
    }
    .container {
        margin-top: 5em;
        .row {
            .similarTitle {
                color: $yellow;
                font-weight: bold;
                display: block;
                width: 100%;
                text-align: left;
                // text-shadow: 1px 1px $blue;
            }
        }
    }
    .similar {
        background: $red;
        padding-top: 5em;
        padding-bottom: 5em;
        .card {
            display: inline-block;
            // border: 1px solid $white;
            max-width: 15em;
            border: none;
            &-img-top {
                // // display: inline-block;
                // width: 10em;
                // height: 10em;
                // border-radius: 10em;
                // filter: grayscale(100%);
                // width: 15em;
            }
            &-body {
                // background: $white;
                padding: 0;
                .card-title {
                    margin-top: 0.5em;
                    font-family: $secondary-font;
                    font-size: 2em;
                    color: $red;
                    text-shadow: 1px 1px $blue;
                }
                .card-text {
                    font-family: $third-font;
                    font-size: 1.5em;
                    color: $blue;
                    margin-bottom: 0.5em;
                }
            }
            overflow: hidden;
            transition: all 0.3s linear;
            // border: 1px solid $yellow;
            // border-radius: 1em;
            &:hover {
                // box-shadow: 0 0.2px 0.9px rgba(0, 0, 0, 0.055), 0 0.6px 2.2px rgba(0, 0, 0, 0.112), 0 1.1px 4.1px rgba(0, 0, 0, 0.173), 0 2px 7.4px rgba(0, 0, 0, 0.245), 0 3.8px 13.8px rgba(0, 0, 0, 0.35), 0 9px 33px rgba(0, 0, 0, 0.54);
                // filter: hue-rotate(50deg);
                // transform: scale(1.5);
            }
        }
    }
    .leftTitle {
        font-weight: bold;
    }
}