@import "../../index.scss";
.User {
    padding-bottom: 30em;
    .firstRow {
        display: flex;
        flex-direction: column;
        text-align: left;
        .userTitle {
            float: left;
            letter-spacing: 0.2em;
            font-family: $primary-font;
            font-size: 5em;
            color: $yellow;
            text-transform: uppercase;
            text-shadow: 2px 2px $blue;
            font-weight: bold;
            // margin: 0 auto;
        }
    }
    .userText {
        float: right;
        color: $blue;
        text-decoration: none;
        font-size: 3em;
        text-transform: capitalize;
        font-family: $primary-font;
        // margin-top: 0.7em;
    }
    .hearts {
        position: absolute;
        top: 78%;
        left: 60%;
        background: $yellow;
        color: $white;
        font-size: 3em;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        text-align: center;
        line-height: 2em;
        transition: all 0.3s linear;
        &:hover {
            transform: scale(1.2);
        }
    }
}