@import "../../index.scss";
.Hero {
    position: relative;
    .swiper-container {
        z-index: 0;
        .swiper-wrapper {
            .swiper-slide {
                cursor: pointer;
                // position: absolute;
                img {
                    height: 80vh;
                    width: 100%;
                }
                .carousel-caption {
                    z-index: 3;
                    text-align: left;
                    margin-bottom: 1.5em;
                    margin-left: -1.5em;
                    // position: absolute;
                    // top: 85%;
                    // left: 20%;
                    // transform: translate(-45%, -20%);
                    // width: 20em;
                    // height: 4em;
                    // background: $blue;
                    font-family: $primary-font;
                    // font-size: 5em;
                    text-shadow: 3px 3px $blue;
                    font-weight: bold;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    color: $white;
                }
            }
        }
        // .swiper-button-next,
        // .swiper-button-prev,
        // .swiper-notification {
        //     height: 3em;
        //     z-index: 4;
        //     display: block;
        //     color: $blue;
        // }
    }
}

// .carousel {
//     &-inner {
//         
//     }
//     &-indicators {
//         position: absolute;
//         top: 85%;
//     }
//     &-item {
//         height: 80vh;
//         display: block;
//         float: none;
//         img {
//             height: 80vh;
//             max-width: 100%;
//             position: absolute;
//             top: 50%;
//             left: 50%;
//             transform: translate(-50%, -50%);
//         }
//     }
//     &-caption {
//         text-align: left;
//         position: absolute;
//         top: 42%;
//         width: 70em;
//         height: 10em;
//         h3 {
//             font-family: $primary-font;
//             font-size: 5em;
//             text-shadow: 2px 2px $blue;
//             font-weight: bold;
//             letter-spacing: 0.1em;
//             text-transform: uppercase;
//             color: $white;
//         }
//         p {
//             color: $white;
//         }
//     }
// }