@import "../../index.scss";
.Modal {
    position: absolute;
    top: 0em;
    left: 0;
    right: 0;
    bottom: 0;
    // background: rgba(0, 0, 0, 0.3);
    z-index: 3000;
    margin-left: -2em;
    .container {
        max-height: 50vh;
        margin-top: 8em;
        padding: 0;
        background: $white;
        overflow-y: scroll;
        overflow-x: hidden;
        .swiper-container {
            max-height: 50vh;
        }
        .row {
            padding-top: 1em;
            padding-bottom: 1em;
            &:hover,
            &:hover .modalTitle {
                background: $blue;
                color: $white !important;
            }
            padding-bottom: 1em;
            .col {
                img {
                    width: 8em;
                    border: 1px solid $yellow;
                }
                .modalTitle {
                    color: $blue;
                    position: absolute;
                    // top: 50%;
                    // left: 10%;
                    // transform: translate(-50%, -50%);
                    margin-top: 1.5em;
                    text-decoration: none;
                    font-size: 2.5em;
                    font-weight: bold;
                    font-family: $primary-font;
                    &:hover {
                        text-decoration: none;
                    }
                }
                .average {
                    font-family: $primary-font;
                    margin-top: 2em;
                    font-size: 1.5em;
                    color: $white;
                    background: $yellow;
                    width: 3em;
                    height: 3em;
                    border-radius: 50%;
                    line-height: 3em;
                    text-shadow: 2px 2px $blue;
                    font-weight: bold;
                    &:hover {
                        text-decoration: none !important;
                    }
                }
                // .release {
                //     color: $blue;
                //     text-decoration: none;
                //     font-size: 1.5em;
                //     font-weight: bold;
                //     font-family: $primary-font;
                // }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 1.5em;
}

::-webkit-scrollbar-thumb {
    background: $red;
    border-radius: 0.5em;
}