@import "../../index.scss";
.MidMenu {
    height: 5em;
    background: $white;
    color: $blue;
    margin-top: -5em;
    z-index: 1000;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    .nav {
        &-item {
            a {
                // padding: 0 2em;
                color: $blue;
                text-decoration: none;
                font-size: 2em;
                font-family: $primary-font;
                margin-top: 0.7em;
                transition: all 0.5s ease-in-out;
                &:hover {
                    color: $yellow;
                    font-weight: bold;
                    text-shadow: 1px 1px $blue;
                }
            }
        }
    }
    .clicked {
        color: $yellow !important;
        font-weight: bold;
        text-shadow: 1px 1px $blue;
    }
}

@media (min-width: 300px) and (max-width:750px) {
    .MidMenu {
        padding: 0;
        // margin: 0;
        .nav {
            &-item {
                a {
                    font-size: 1.2em;
                    padding: 0;
                    margin: 1em 0 !important;
                    width: 7em;
                }
            }
        }
    }
}

@media (min-width: 751px) and (max-width:999.98px) {
    .MidMenu {
        padding: 0;
        .nav {
            &-item {
                a {
                    font-size: 2em;
                    padding: 0;
                    // width: 7em;
                }
            }
        }
    }
}