.App {
    text-align: center;
    position: relative;
    min-height: 100vh;
    transition: all 0.5 linear;
    // height: 250vh;
}


/* font-family: 'PT Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Metrophobic', sans-serif; */