/*** fonts ****/

$primary-font: "PT Sans",
sans-serif;
$secondary-font: "Lato",
sans-serif;
$third-font: "Metrophobic",
sans-serif;

/*** colors ***/

$blue: #011627;
$red: #EE0E51;
$turq: #41EAD4;
$white: #FDFFFC;
$yellow: #FF9F1C;

/**** *****/

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $white;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}