@import "../../index.scss";
.NavTop {
    font-family: $secondary-font;
    text-transform: uppercase;
    background: $white;
    .navbar {
        margin: 0 auto;
        &-brand {
            img {
                width: 6em;
            }
        }
        span {
            font-family: $secondary-font;
            color: $red;
            margin-right: 0.5em;
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;   linear-gradient(146deg, rgba(1, 22, 39, 1) 22%, rgba(238, 14, 81, 1) 100%);
        }
        // .fas {
        //     background: $white;
        // }
        &-toggler {
            height: 2em;
            font-size: 2rem;
            color: $red;
            border: none;
            transition: all 0.5s ease-in-out;
            &:focus,
            &:active {
                outline: none !important;
            }
            &:hover {
                background: rgb(224, 224, 224);
            }
        }
        .container {
            // border: 1px solid $white;
            // height: 100%;
        }
        &-nav {
            margin: 0 auto !important;
            .nav-link {
                font-size: 1.5em;
                color: $blue;
                font-weight: bold;
            }
        }
        &-collapse {
            margin: 0 auto;
        }
    }
}